:root {
    --primary-color: #FC2703;
    --secondary-color: #348afc;
    --accent1-color: #000000;
    --accent2-color: #76d7f0;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 600px 1fr 1fr;
    align-items: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

figure img {
    display: flex;
    justify-content: center;
    height: 150px;
    width: auto;
}

.navigation {
    display: flex;
    list-style: none;
    flex: 1 1 auto;
    gap: 25px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.container {
    display: flex;
    flex-direction: row;
}