* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkolivegreen;
    padding: 10px;
}

nav a {
    color: whitesmoke;
    display: block;
    padding: 20px;
}

h1 {
    color: darkolivegreen;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
    background-color: #fff;
}

p {
    padding: 0;
}

main {
    max-width: 420px;
}

aside {
    width: 403px;
    text-align: center;
    color: #fff;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(32, 43, 14);
    background-color: white;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 112px;
    color: #fff;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    font-size: 35px;
}

footer {
    margin: 15px 0;
    border-top: 1px dotted #000;
    text-align: center;
}

ul {}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    outline: 1px solid #000;
    background-color: darkolivegreen;
    color: #000;
}