nav {
    background-color: darkolivegreen;
    padding: 10px;
}

nav a {
    color: whitesmoke;
    display: block;
    padding: 20px;
}

h1 {
    color: darkolivegreen;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 840px;
    margin: 0 5px;
    border: 1px solid #000;
    padding: 10px;
    background-color: darkolivegreen;
    color: #fff;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(32, 43, 14);
    background-color: white;
}

footer {
    margin: 15px 0;
    border-top: 1px dotted #000;
    text-align: center;
}